<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jg.springcloud.dao.PaymentDao">

    <insert id="addPayment">
        insert into payment(serial) values(#{serial})
    </insert>

    <select id="selectOne" resultMap="baseMap">
        select * from payment where id = #{id}
    </select>

    <resultMap id="baseMap" type="com.jg.springcloud.entities.Payment">
        <result column="id" property="id" jdbcType="BIGINT"/>
        <result column="serial" property="serial" jdbcType="VARCHAR"/>
    </resultMap>


    <select id="selectAllPayment" resultMap="baseMap">
        select * from payment
    </select>


</mapper>